doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='css/parking.css')
    link(href="https://fonts.googleapis.com/css?family=Lobster+Two:400,700|Roboto" rel="stylesheet")
  body
    header
      h1.first 
        a Parking
      h1.second
        div.line
        a Negenduust
    main
      section.items
        block content
    footer
    

      
    
